---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 50.5 50.5"
      width="4em"
      height="4em"
      aria-hidden="true"
    >
      <!-- Orange Path -->
      <path
        d="M3.685-491.77c15.363-.084 30.255 11.669 33.546 26.932.062.286.156.75.212 1.037 1.258 6.375 2.19 16.888-6.279 17.6a8.686 8.686 0 0 1-1.056.009c-8.88-.567-5.953-10.477-7.824-16.492a24.663 24.663 0 0 0-.347-1c-3.05-8.265-11.768-13.763-20.54-13.072-.292.023-.764.038-1.056.027-11.568-.438-24.413 1.972-34.537-5.026-.24-.166-.635-.427-.872-.598-2.663-1.926-8.45-8.398-5.049-9.304.282-.075.758-.088 1.05-.088 13.894 0 27.795.007 41.666-.016.292 0 .293.012.001.029-2.856.162-2.71.15.028 0 .291-.017.765-.036 1.057-.037z"
        fill="#d65d0e"
        class="dark:fill-orange-400"
        transform="matrix(-.32285 0 0 .32285 32.35 173.883)"></path>
      <!-- Light Beige Path -->
      <path
        d="M6.157-446.235c9.654-1.657 4.45-14.228-1.37-14.962-.289-.037-.764-.033-1.056-.031-21.072.093-42.148-.174-63.215.158-.292.005-.764.03-1.054.062-8.6.934-18.309 5.406-20.88 14.271-.081.28.098.51.39.511 28.713.012 57.425-.04 86.132.067.292 0 .53.002.53.002z"
        fill="#665c54"
        class="dark:fill-gray-300"
        transform="matrix(-.32285 0 0 .32285 32.35 173.883)"></path>
      <!-- Orange Bottom Path -->
      <path
        d="M.036-388.709c-15.363.085-30.255-11.668-33.546-26.932-.062-.285-.155-.75-.212-1.036-1.258-6.375-2.19-16.888 6.279-17.6a8.686 8.686 0 0 1 1.057-.009c8.878.567 5.952 10.477 7.824 16.491.086.28.245.726.346 1 3.05 8.266 11.768 13.764 20.54 13.073.292-.023.764-.038 1.056-.027 11.568.438 24.413-1.972 34.537 5.026.24.166.635.427.872.598 2.663 1.926 8.45 8.398 5.049 9.304-.282.075-.758.088-1.05.088-13.894 0-27.795-.007-41.666.016-.292 0-.293-.012-.001-.029 2.856-.162 2.71-.15-.027 0a25.9 25.9 0 0 1-1.058.037z"
        fill="#d65d0e"
        class="dark:fill-orange-400"
        transform="matrix(-.32285 0 0 .32285 32.35 173.883)"></path>
      <!-- Light Beige Bottom Path -->
      <path
        d="M-2.436-434.244c-9.778 1.668-6.114 14.398 1.368 14.976.292.023.766.02 1.058.018 21.073-.093 42.148.174 63.215-.158.292-.005.764-.03 1.055-.062 8.6-.934 18.308-5.406 20.88-14.271.08-.281-.099-.511-.391-.511-28.713-.012-57.424.04-86.132-.067-.292 0-.529-.002-.529-.002z"
        fill="#665c54"
        class="dark:fill-gray-300"
        transform="matrix(-.32285 0 0 .32285 32.35 173.883)"></path>
      <!-- <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path> -->
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg>

    <!-- TEXT SVG -->

    <!-- Generator: https://danmarshall.github.io/google-font-to-svg-path/ -->
    <!-- Google font: Great Vibes -->
    <svg
      width="12em"
      height="4em"
      viewBox="100 -50 500.5 120.5"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        stroke-linecap="round"
        fill-rule="evenodd"
        font-size="7"
        stroke="none"
        stroke-width=".945"
        style="stroke:#665c54;stroke-width:.25mm;fill:#665c54"
        ><path
          d="M0 37.685h5.85q0 4.056 1.755 7.254 1.755 3.198 4.797 5.031 3.042 1.833 7.02 1.989 3.978.078 7.098-1.326 3.12-1.404 4.836-3.939 1.716-2.535 1.482-5.733-.234-6.396-10.296-9.984l-8.268-2.964q-6.318-2.262-9.321-5.187-3.003-2.925-3.315-6.981-.312-4.602 1.911-8.229 2.223-3.627 6.357-5.694t9.36-1.911q8.112.234 13.143 4.797 5.031 4.563 5.421 12.129h-5.85q-.312-4.914-3.9-8.151t-8.892-3.315q-3.51-.156-6.201 1.092t-4.173 3.549q-1.482 2.301-1.326 5.187.156 2.184 2.34 3.861 2.184 1.677 6.786 3.471l8.502 3.198q12.948 4.914 13.416 14.274.234 4.836-2.262 8.775t-6.864 6.24q-4.368 2.301-9.906 2.301-6.006 0-10.374-2.418t-6.747-6.864Q0 43.691 0 37.685zM75.738 33.863l.39.546V23.177h-23.01v-5.46h28.86v39h-5.85v-3.666l-.39.39q-1.872 1.872-4.758 3.12t-5.85 1.248q-4.758 0-8.385-1.794t-5.694-4.992q-2.067-3.198-2.067-7.332 0-3.978 1.989-7.059t5.577-4.797q3.588-1.716 8.19-1.716 3.666 0 6.747 1.053t4.251 2.691zm-20.904 9.828q0 3.822 2.886 6.24t7.41 2.418q4.836 0 7.917-2.418 3.081-2.418 3.081-6.24 0-3.588-3.159-5.85-3.159-2.262-8.229-2.262-4.368 0-7.137 2.262-2.769 2.262-2.769 5.85zM133.614 51.257v5.46H94.38v-5.46h15.99V5.471H98.202V.011h18.018v51.246h17.394zM169.338 33.863l.39.546V23.177h-23.01v-5.46h28.86v39h-5.85v-3.666l-.39.39q-1.872 1.872-4.758 3.12t-5.85 1.248q-4.758 0-8.385-1.794t-5.694-4.992q-2.067-3.198-2.067-7.332 0-3.978 1.989-7.059t5.577-4.797q3.588-1.716 8.19-1.716 3.666 0 6.747 1.053t4.251 2.691zm-20.904 9.828q0 3.822 2.886 6.24t7.41 2.418q4.836 0 7.917-2.418 3.081-2.418 3.081-6.24 0-3.588-3.159-5.85-3.159-2.262-8.229-2.262-4.368 0-7.137 2.262-2.769 2.262-2.769 5.85zM197.418.011v17.706h26.676l.078 39h-5.85l-.078-33.54h-20.826v33.54h-5.85V5.471H187.2V.011h10.218zM303.42 6.797v49.92h-6.318V6.797h-17.94v-5.46h42.666v5.46H303.42zM337.818.011v17.706h26.676l.078 39h-5.85l-.078-33.54h-20.826v33.54h-5.85V5.471H327.6V.011h10.218zM403.338 33.863l.39.546V23.177h-23.01v-5.46h28.86v39h-5.85v-3.666l-.39.39q-1.872 1.872-4.758 3.12t-5.85 1.248q-4.758 0-8.385-1.794t-5.694-4.992q-2.067-3.198-2.067-7.332 0-3.978 1.989-7.059t5.577-4.797q3.588-1.716 8.19-1.716 3.666 0 6.747 1.053t4.251 2.691zm-20.904 9.828q0 3.822 2.886 6.24t7.41 2.418q4.836 0 7.917-2.418 3.081-2.418 3.081-6.24 0-3.588-3.159-5.85-3.159-2.262-8.229-2.262-4.368 0-7.137 2.262-2.769 2.262-2.769 5.85zM429.702 51.959v4.758h-5.85V5.471h-4.368V.011h10.218v22.074q4.602-6.162 12.87-6.162 5.538 0 9.594 2.613 4.056 2.613 6.24 7.449t2.184 11.466q0 9.36-4.836 14.82-4.836 5.46-13.182 5.46-4.056 0-7.332-1.521t-5.538-4.251zm0-14.508q0 6.864 3.432 10.92t9.282 4.056q5.694 0 9.009-4.056 3.315-4.056 3.315-10.92 0-7.488-3.315-11.856-3.315-4.368-9.009-4.368-5.85 0-9.282 4.368-3.432 4.368-3.432 11.856zM504.504 37.217v.624h-29.718q.39 6.63 3.9 10.53 3.51 3.9 9.048 3.9 4.992 0 7.917-2.496t3.393-7.02h5.46q-.78 7.176-5.109 11.076-4.329 3.9-11.661 3.9-5.694 0-9.906-2.535-4.212-2.535-6.513-7.254-2.301-4.719-2.301-11.115 0-6.474 2.223-11.154t6.318-7.215q4.095-2.535 9.633-2.535 5.304 0 9.204 2.574 3.9 2.574 6.006 7.371 2.106 4.797 2.106 11.349zm-29.016-4.836h22.932q-.312-4.914-3.354-7.878-3.042-2.964-7.878-3.12-4.992-.156-8.151 2.808t-3.549 8.19zM543.66 51.257h6.396v5.46h-7.488q-7.332 0-11.232-2.847-3.9-2.847-3.9-10.569V24.659h-12.714v-5.46h12.714V7.031h5.85v12.168H549.9v5.46h-16.614v17.862q0 3.51.858 5.382.858 1.872 3.12 2.613 2.262.741 6.396.741z"
          vector-effect="non-scaling-stroke"
          fill="#665c54"></path></g
      >
    </svg>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;

      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }
</style>
